

<!DOCTYPE html>
<html>
<head>
<style>
.button_link,
.button_link:hover,
.button_link:active,
.button_link:visited,
	{
	background-color:				#8080c0;
	padding:						0.5em 1em;
	font-weight:					bold;
	color:							#ffffff;
	text-decoration:				none;
	}

.email_footer
	{
	margin-top:						2em;
	border-top:						0.1em dotted #808080;
	padding-top:					1em;
	}
</style>
</head>
<body>

<p>Hi {{first_name}},</p>

<p>Thank you for signing up to use our web app!</p>

<p>Your username is {{username}}.</p>

<p>Please click the button below to verify your email address.</p>

<p><a class="button_link" href="{{verify_link}}">Verify email</a></p>

<div class="email_footer">
<p>Please do not reply to this email from &lt;automation@example.com&gt;, this email is not monitored.</p>
<p>If you need assistance then please visit <a href="https://help.example.com">https://help.example.com</a>.</p>
</div>

</body>
</html>

